@model Moviesily.ViewModels.HomeVM

@{
    ViewBag.Title = "Index";
} 

@using (Html.BeginForm("Search", "HomeVMs", FormMethod.Get))
{
    <p>
        @*  Categorie: @Html.DropDownList("ReviewCategorie", "All")*@
        @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}

<div class="col-lg-3 genres">

    @foreach (var item in Model.Genres)
    {

        <a href="/HomeVMs/Browse?genre=@item.GenreName"><input type="submit" value="@item.GenreName" class="belize-hole-flat-button"></a><br />

        }
</div>
@foreach (var item in Model.Movies)
{
    <div class="col-lg-3 movies">
        <img src="@item.Image" width="250" height="350" />
        <label>Title |</label> @Html.DisplayFor(modelItem => item.Title)<br />
        <label>Director |</label> @Html.DisplayFor(modelItem => item.Director)<br />
        <label>ReleaseYear |</label> @Html.DisplayFor(modelItem => item.ReleaseYear)<br />
        <label>Language |</label> @Html.DisplayFor(modelItem => item.Language)<br />
        <label>Descripton |</label> @Html.DisplayFor(modelItem => item.Description)<br />
    </div>
}




