@model Moviesily.ViewModels.HomeVM

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Search", "HomeVMs", FormMethod.Get))
{
    <div class="col-lg-offset-3 col-lg-9" style="margin-top: 20px">
        <h2 class="searchTitle">SEARCH MOVIES:</h2>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search Movies" class="belize-hole-flat-button searchButton" />
    </div>
}

<div class="col-lg-3 genres">

    @foreach (var item in Model.Genres)
    {

        <a href="/HomeVMs/Browse?genre=@item.GenreName"><input type="submit" value="@item.GenreName" class="belize-hole-flat-button"></a><br />

    }
</div>
@foreach (var item in Model.Movies)
{
    <div class="col-lg-3 movies">
        <img src="@item.Image" width="250" height="350" />
        <label>Title |</label> @Html.DisplayFor(modelItem => item.Title)<br />
        <label>Director |</label> @Html.DisplayFor(modelItem => item.Director)<br />
        <label>ReleaseYear |</label> @Html.DisplayFor(modelItem => item.ReleaseYear)<br />
        <label>Language |</label> @Html.DisplayFor(modelItem => item.Language)<br />
        <label>Descripton |</label> @Html.DisplayFor(modelItem => item.Description)<br />
        <label>Reviews |</label> @Html.DisplayFor(modelItem => item.Review)<br />
    </div>
}












